# Copy this file to .env.local and fill values
CLOUDINARY_CLOUD_NAME=dwmqqokks   

# Required only for upload mode (players:sync-images / players:refresh-images)
CLOUDINARY_API_KEY=752466961554523
CLOUDINARY_API_SECRET=1ZEmL1RSivR7WYobxiUjtLtpKd0

# Optional
CLOUDINARY_PLAYER_FOLDER=ipl-auction/players
PLAYER_IMAGES_DIR=assets/player-images
